/* Estilos base */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(Wallpaper/LinkBG_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.699);
    color: rgb(243, 234, 108);
    text-align: center;
    padding: 10px; /* Atualizado o valor do padding */
    font-family: 'Cabin', sans-serif;
}

.perfil img {
    max-width: 100px;
    border-radius: 50%;
}

nav {
    background-color: rgba(8, 8, 8, 0.527);
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
}

ul.row1,
ul.row2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    column-count: 2;
    column-gap: 10px;
}

ul a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: rgba(220, 224, 11, 0.671);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    display: inline-block;
    width: 95%;
    
}

ul a:hover {
    background-color: rgba(179, 177, 29, 0.527);
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.397);
    color: rgba(253, 255, 111, 0.76);
    padding: 5px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
}

ion-icon {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    /* Aplique estilos específicos para telas menores, como tablets e celulares */
    ul.row1, ul.row2 {
        column-count: 1; /* Mostrar links em uma única coluna */
    }
    
    ul a {
        padding: 10px; /* Ajustar o preenchimento para telas menores */
    }
}
